<%= render "/shared/header" %>
<h2>All Products</h2>
<%= link_to "+ Add a New Product",  new_product_url %>
<ul>
	<% @products.each do |product| %>
<li>
	<%= link_to product.name, product_path(product) %></br> 
	<%= product.description %> </br>
	<%= product.formatted_price %>
</li>
	<% end %>
</ul>

<p>Work on: Wriitng tests, Sass tutorial</p>
<p>Issues:</br>
	<ul>
	<li>Anyone can edit any product?? - Limit this to user who posted it</li>
	<li>Anyone can edit any review - Limit this to user who posted it</li>
	<li>Product - Show name of user who created it</li>
	<li>Adding new review should redirect back to product_path(@product)</li>
	</ul>
</p>

<p>Stretch Tasks:</br>
	<ul>
	<li>Sort reviews by newest first- works, but when implemeted get reviews the same for every product??</li>
	<li>Create categories and tags</li>
	<li>Add categories to products</li>
	<li>Create homepage for application</li>
	</ul>
</p>



